ol{list-style-type : lower-latin;
    font-size : 18pt;
    line-height : 1.5;}
ul{list-style-type : square;
    font-size : 18pt;
    line-height : 1.5;}
a:hover{text-decoration : none;
              background-color : rgba(0, 29, 255, 0.88);
              color : yellow;
              font-style : italic;}
#logo{margin : left;
          display : block;
          width : 40%}
#foto{margin : auto;
               display : block;
               width : 30%;}